<div class="container">
<div class="row">
  <div  class="col-md-10 col-md-offset-1">
<p class="intro">

  Welcome to Blackjack! Blackjack is considered to be one of the most popular casino games. The main objective of the game is for the player to obtain a hand
  value that is closer to 21 than that of the dealer, without going over 21. The value of a hand is simply the sum of the point counts of each card in the hand. In Blackjack, an Ace can count as either 1 or 11, the cards from 2 through 9 are valued at their face value, and the 10, Jack, Queen, and King are all valued at 10. </p>
  

  <p> The player starts out with $500. Once the player enters their name, the player will be asked to enter an amount that they want to bet. The player and dealer will then each be
  dealt with two cards. The dealer will flip one of his cards over, exposing its value. The player will then determine if they want to Hit or Stay. Hit means the player wants to be dealt another card, while Stay means that the player is satisfied with their hand total and it will become the dealer's turn. The dealer will then hit until their hand value reaches at least 17. </p>

  <p>If during this entire process, the player or dealer obtain 21, they hit blackjack. If either of them obtain over 21, they bust. Otherwise, hand totals are compared to see whether the player or the dealer has the higher total amount. </p>

  <p> The player can decide to play multiple rounds until he or she runs out of money, or a new game can be started by clicking on the Blackjack! link in the navigation bar. </p>

<a class="text-info" href="http://blackjackinfo.com/blackjack-rules.php"> SOURCE </a>





</p>

<h4 class="text-warning"> <strong></strong></h4>

</div>

</div>



<div class="row">
  <div style="text-align:center" class="col-md-12">
  

  <form class="form-inline" role="form" action="/new_player" method="post">
  <div class="form-group">
      <div class="input-group">
        <label class="sr-only" for="player_name"> Name </label>
        <div class="input-group-addon">Name:</div> 
        <input class="form-control" type="text" name="player_name" placeholder="Enter your Name" required>

     
      </div>
    </div>

   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
 
  </div>
</div>
</div>
